//Grey
$dd-gray: #515151;
$d-gray: #818181;
$l-gray: #a1a1a1;
$ll-gray: #c1c1c1;

//Green
$dd-green: #0c3600;
$d-green: #156100;
$l-green: #24a100;
$ll-green: #2bbf00;

//Red
$dd-red: #401301;
$d-red: #752200;
$l-red: #a12e00;
$ll-red: #c43800;