body, html {
    background:#212121;
    margin: 0px;
    padding: 0px;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
}

p, label, h1, h2, h3, h4, h5, h6 {
    margin: 0px;
}